streamlit
pandas
openpyxl
firebase-admin
fitz
sqlalchemy
psycopg2-binary
PyMuPDF
frontend
streamlit
pandas
os
zipfile
io
fitz
re
tempfile
ast
requests
Alignment 
Font
json
create_client
datetime
numpy
